.landing{
    height: 100vh;
    width: 100%;
    /* background-color:  #4a5b70; */
    background-color: #F0F0F0;
    text-align: center;
}

#landingLeft{
    height: 100%;
    width: 65%;
    background-color: red;
}

#landingRight{
    height: 100vh;
    width: 35%;
    
}

.landingText{
    text-align: left;
    width: 100%;
    position: absolute;
    margin-left: 7%;
    margin-top: 20%;
}

.landingTitle{
    font-size: 50px;
}

.landingDescription{
    font-size: 24px;
}

#logo{
    margin-left: -25%;
    width: 60%;
    margin-top: 50%;
}

/* 
.landing div{
    margin-top: 20%;
    width: 80%;
    margin-left: 10%;
    font-size: 42px;
    text-align: center;
    justify-content: center;
}

.landingTitle{
  position: absolute;
  color: #000;
  font-weight: 400;
  font-size: 78px;
  margin-top: 18%;
  margin-left: 120px;
}

.landing span{
    position: absolute;
    text-align: left;
    font-size: 30px;
    font-weight: 400;
    color: rgba(0, 0, 0, .7);
    font-style: italic;
    float: right;
    margin-top: 28%;
    transform: translate(-50px, 0);
    font-size: 38px;
    width: 1200px;
} */

